#container {
  width: 50%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(239, 213, 48, 0.963);

 
 
 
}
#label{
  width: 75%;
  height: 400px;
  background-color: white;
  border: 4px solid black;
}
h1{
  font-size: 40px;
  text-align: center;
}
label{
  font-size: 10em;
  text-align: center;
  display: block;
  font-weight: bolder;
  margin-bottom: 40px;
  font-family: Helvetica;
}
#btn{
 display: flex;
 justify-content: center;
 width: 100%;

}
button{
  padding: 10px 20px;
  border-radius: 4px;
  margin-left: 3px;
  margin-bottom: 40px;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 30px;
  background-color: white;
  
  
}
button:active{
  box-shadow: 2px 2px 4px 5px;
}
.container1{
  display: flex;
  width: 100%;
  justify-content: center;
  
}
@media(max-width: 800px){
  #container {
    width: 100%;
    justify-content: center;

}
.container1{
  display: flex;
  width: 100%;
  justify-content: center;
  
}
}

